{% extends 'app/base.html' %}
{% load static %}
{% block title %} category {% endblock title %}

{% block main-content %}
   <div class="container mt-3 ">
    <h2 class="text-center">About Us </h2>
    <div class="row container">
        <p class="fs-4 text-center">
            This is a public limited company having its
            registered and corporate office at Thane city of Maharastra State in India.
            The company was incorporated in the Year
            2019 and production commenced in 2021.
            This is one of the fastest growing public companies in Thane.
        </p>
    </div>
   </div>
{% endblock main-content %}