{% extends 'app/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block banner-slider %}
    <div  class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img src="{% static 'asset/image/banner/bnr2.jpg' %}" class="d-block w-100 " alt="banner image" height="500px">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'asset/image/banner/bnr3.jpg' %}"  class="d-block w-100" alt="banner image" height="500px">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'asset/image/banner/bnr1.jpg' %}"  class="d-block w-100" alt="banner image" height="500px">
            </div>
           
            
        </div>
    </div>

{% endblock banner-slider %}

{% block info %}
    <div class="container">
        <div class="row bg-success text-center p-3 text-white border-bottom shadow">
            <h1 class="text-dark">Product</h1>
            <small class="fs-6">Do offers a wide range of products in both liquid milk 
                and by-product categories. The liquid milk comprises of t types of variants and
                the by-product compries of 14 types of varints.

                Dodla offers a wide range of milk products comprising of Fresh Milk, Butter,Ghee Paneer,Flovoured Milk,Doodh Peda Ice Cream and Skimmed Milk Powder.
            
            </small>
        </div>
    </div>
{% endblock info %}



{% block main-content %} 
    <div class="container">
        <h2 class="text-center"> Dairy Products</h2>
        <br><br>
        <div class="row container">
            <div class="col-md-4 col-sm-4 mi-go wow   " data-wow-duration="1s" data-wow-delay="0.6s"
                style="animation-duration: 1s; animation-delay:0.6s; animation-name:none">
                <div class="good buttermilk">
                    <a href="{% url 'cat' 'GH' %}" class="text-decoration-none ">
                        <div class="goodness text-center">
                            <img src="{% static 'asset/image/product/buffalo-ghee.png' %}" class="img-responsiv center-block w-100 h-100" alt="">
                            <p class="milk">Ghee</p>
                        </div>
                    </a>
                </div>
            </div><!---1 image-->

            
            <div class="col-md-4 col-sm-4 mi-go wow " data-wow-duration="1s" data-wow-delay="0.6s"
                style="animation-duration: 1s; animation-delay:0.6s; animation-name:none">
                <div class="good buttermilk  curdmilk">
                    <a href="{% url 'cat' 'CR' %}"  class="text-decoration-none ">
                        <div class="goodness text-center">
                            <img src="{% static 'asset/image/product/curd-total.png' %}" class="img-responsiv center-block w-100 h-100" alt="">
                            <p class="milk">Curd</p>
                        </div>
                    </a>
                </div>
            </div><!---2 image--> 

            <div class="col-md-4 col-sm-4 mi-go wow mb-3 " data-wow-duration="1s" data-wow-delay="0.6s"
                style="animation-duration: 1s; animation-delay:0.6s; animation-name:none">
                <div class="good buttermilk   milkgeess">
                    <a href="{% url 'cat' 'IC' %}"  class="text-decoration-none ">
                        <div class="goodness text-center ">
                            <img src="{% static 'asset/image/product/Kulfi.png' %}" class="img-responsiv center-block w-100 h-100" alt="">
                            <p class="milk">Kulfi</p>
                        </div>
                    </a>
                </div>
            </div><!---3 image--> 

            <div class="col-md-4 col-sm-4 mi-go wow   " data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s; animation-delay:0.6s; animation-name:none">
            <div class="good buttermilk">
                <a href="{% url 'cat' 'MS' %}"  class="text-decoration-none ">
                    <div class="goodness text-center">
                        <img src="{% static 'asset/image/product/milk-shake-chocolate.png' %}" class="img-responsiv center-block w-100 h-100" alt="">
                        <p class="milk">Milkshake</p>
                    </div>
                </a>
            </div>
        </div><!---1 image-->

        
        <div class="col-md-4 col-sm-4 mi-go wow " data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s; animation-delay:0.6s; animation-name:none">
            <div class="good buttermilk  curdmilk">
                <a href="{% url 'cat' 'ML' %}"  class="text-decoration-none ">
                    <div class="goodness text-center">
                        <img src="{% static 'asset/image/product/cow-milk.png' %}" class="img-responsiv center-block w-100 h-100" alt="">
                        <p class="milk">Milk </p>
                    </div>
                </a>
            </div>
        </div><!---2 image--> 

        <div class="col-md-4 col-sm-4 mi-go wow  " data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s; animation-delay:0.6s; animation-name:none">
            <div class="good buttermilk   milkgeess">
                <a href="{% url 'cat' 'IC' %}"  class="text-decoration-none ">
                    <div class="goodness text-center">
                        <img src="{% static 'asset/image/product/icbars.png' %}" class="img-responsiv center-block w-100 h-100" alt="">
                        <p class="milk">Ice-Creame</p>
                    </div>
                </a>
            </div>
        </div><!---3 image--> 



            
            

        </div>
    </div>
    <br><br><br><br>
{% endblock main-content %}


